---
---

<footer class="background-turquoise-original">
  <article>
    <div>
      <svg
        width="286"
        height="306"
        viewBox="0 0 286 306"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_244_52)">
          <path
            d="M180.752 22.3655L197.928 52.0541L215.104 81.7427C223.731 96.6583 222.651 113.428 215.104 126.474C207.557 139.519 193.527 148.839 176.271 148.839H107.552C90.2966 148.839 76.2667 139.519 68.7194 126.474C61.1722 113.428 60.0918 96.6424 68.7194 81.7427L85.8953 52.0541L103.071 22.3655C111.699 7.44988 126.809 0 141.904 0C156.998 0 172.108 7.44988 180.736 22.3655M141.904 25.8527C125.713 25.8527 111.047 32.3991 100.45 42.9874C89.8517 53.5758 83.2737 68.1902 83.2737 84.3422C83.2737 100.494 89.8358 115.124 100.45 125.697C111.063 136.269 125.713 142.832 141.904 142.832C158.094 142.832 172.76 136.285 183.374 125.697C193.987 115.109 200.55 100.494 200.55 84.3422C200.55 68.1902 193.987 53.5599 183.374 42.9874C172.76 32.4149 158.11 25.8527 141.904 25.8527Z"
            fill="white"></path>
          <path
            d="M171.378 204.143C174.539 204.143 177.399 204.508 179.862 205.205C182.325 205.902 184.422 206.964 186.059 208.328C187.33 209.39 188.299 210.626 188.935 212.021C189.57 213.416 189.904 214.953 189.904 216.649V234.37C189.904 236.067 189.586 237.62 188.935 239.015C188.283 240.41 187.33 241.646 186.059 242.708C184.422 244.087 182.325 245.133 179.862 245.831C177.399 246.528 174.539 246.893 171.378 246.893H147.195C144.033 246.893 141.173 246.528 138.71 245.831C136.247 245.133 134.15 244.071 132.513 242.708C131.242 241.646 130.273 240.41 129.637 239.015C129.002 237.62 128.668 236.067 128.668 234.37V216.649C128.668 214.953 128.986 213.4 129.637 212.021C130.289 210.642 131.242 209.39 132.513 208.328C134.15 206.949 136.247 205.902 138.71 205.205C141.173 204.508 144.033 204.143 147.195 204.143H171.378ZM171.378 195.219H147.195C138.265 195.219 131.401 197.612 126.762 201.496C122.122 205.379 119.723 210.737 119.723 216.665V234.386C119.723 240.315 122.122 245.672 126.762 249.556C131.401 253.439 138.265 255.832 147.195 255.832H171.378C180.307 255.832 187.171 253.439 191.811 249.556C196.45 245.672 198.849 240.315 198.849 234.386V216.665C198.849 210.737 196.45 205.379 191.811 201.496C187.171 197.612 180.307 195.219 171.378 195.219ZM101.498 248.62C100.958 248.081 100.307 247.653 99.6074 247.368C98.9083 247.083 98.1457 246.924 97.383 246.924H52.9418C49.7799 246.924 46.9199 246.56 44.4571 245.862C41.9943 245.165 39.897 244.103 38.2604 242.74C36.9893 241.678 36.0201 240.441 35.3846 239.046C34.749 237.652 34.4153 236.098 34.4153 234.402V205.411C34.4153 205.062 34.5583 204.745 34.7808 204.523C35.0032 204.301 35.321 204.159 35.6706 204.159H77.1088C80.2707 204.159 83.1307 204.523 85.5934 205.221C88.0562 205.918 90.1536 206.98 91.7901 208.343C93.0612 209.405 94.0304 210.642 94.666 212.037C95.3016 213.432 95.6352 214.969 95.6352 216.665V233.324C95.6352 234.37 96.0642 235.322 96.7474 236.003C97.4307 236.685 98.384 237.113 99.4327 237.113H100.783C101.832 237.113 102.785 236.685 103.468 236.003C104.152 235.322 104.581 234.37 104.581 233.324V216.665C104.581 210.737 102.181 205.379 97.5419 201.496C92.9023 197.612 86.0383 195.219 77.1088 195.219H29.2514C28.2028 195.219 27.2494 195.647 26.5662 196.329C25.883 197.01 25.454 197.961 25.454 199.007V234.386C25.454 240.315 27.8532 245.672 32.4928 249.556C37.1323 253.439 43.9963 255.832 52.9259 255.832H94.7454C95.1744 255.832 95.5876 255.912 95.9848 256.07C96.382 256.229 96.7316 256.467 97.0334 256.768L101.609 261.333L106.185 265.898C106.932 266.643 107.901 267.007 108.871 267.007C109.84 267.007 110.809 266.643 111.556 265.898L112.017 265.438L112.477 264.978C113.224 264.233 113.606 263.251 113.606 262.268C113.606 261.285 113.224 260.318 112.477 259.557L106.98 254.073L101.482 248.589L101.498 248.62ZM235.092 195.282C226.941 195.282 221.078 197.121 217.265 200.085C213.451 203.049 211.672 207.17 211.672 211.704V213.59C211.672 218.123 213.451 222.229 217.265 225.209C221.078 228.189 226.941 230.012 235.092 230.012H260.451C263.215 230.012 265.694 230.265 267.791 230.772C269.889 231.28 271.589 231.993 272.796 232.944C273.543 233.53 274.083 234.164 274.433 235.036C274.782 235.908 274.957 237.002 274.957 238.476C274.957 239.95 274.798 241.044 274.433 241.915C274.067 242.787 273.543 243.421 272.796 244.008C271.589 244.943 269.889 245.688 267.791 246.179C265.694 246.671 263.231 246.94 260.451 246.94H245.452H230.452C228.736 246.94 227.068 246.607 225.511 245.989C223.954 245.371 222.508 244.452 221.269 243.279L220.252 242.328L219.235 241.377C218.472 240.647 217.471 240.299 216.486 240.33C215.501 240.362 214.532 240.758 213.801 241.535L213.356 241.995L212.911 242.454C212.18 243.215 211.847 244.214 211.862 245.181C211.878 246.148 212.291 247.115 213.054 247.844L214.071 248.795L215.088 249.746C217.153 251.711 219.569 253.233 222.174 254.279C224.78 255.325 227.577 255.864 230.437 255.864H260.435C268.586 255.864 274.449 254.025 278.262 251.061C282.075 248.097 283.855 243.976 283.855 239.443V237.556C283.855 233.023 282.075 228.918 278.262 225.938C274.449 222.958 268.586 221.135 260.435 221.135H235.076C232.311 221.135 229.833 220.881 227.735 220.374C225.638 219.867 223.938 219.154 222.73 218.203C221.984 217.616 221.443 216.982 221.094 216.11C220.744 215.239 220.57 214.145 220.57 212.671C220.57 211.197 220.728 210.103 221.094 209.231C221.459 208.359 221.984 207.725 222.73 207.139C223.938 206.204 225.638 205.459 227.735 204.967C229.833 204.476 232.296 204.206 235.076 204.206L248.852 204.175L262.627 204.143C264.28 204.143 265.901 204.444 267.41 205.031C268.919 205.617 270.334 206.457 271.557 207.567L272.828 208.708L274.099 209.849C274.894 210.547 275.879 210.88 276.864 210.816C277.849 210.753 278.802 210.341 279.501 209.564L279.93 209.088L280.359 208.613C281.074 207.82 281.392 206.838 281.345 205.855C281.297 204.872 280.868 203.921 280.073 203.208L278.802 202.067L277.531 200.925C275.482 199.087 273.13 197.66 270.604 196.693C268.077 195.726 265.376 195.219 262.627 195.219L248.852 195.251L235.076 195.282H235.092ZM0 199.039V252.012C0 253.074 0.429 254.025 1.12811 254.723C1.82722 255.42 2.78056 255.848 3.84511 255.848H5.11622C6.18078 255.848 7.13411 255.42 7.83322 254.723C8.53233 254.025 8.96133 253.074 8.96133 252.012V199.039C8.96133 197.977 8.53233 197.026 7.83322 196.329C7.13411 195.631 6.18078 195.203 5.11622 195.203H3.84511C2.78056 195.203 1.82722 195.631 1.12811 196.329C0.429 197.026 0 197.993 0 199.039Z"
            fill="white"></path>
          <path
            d="M5.05267 305.7V291.608H0V289.627H12.3616V291.608H7.293V305.7H5.05267Z"
            fill="white"></path>
          <path
            d="M15.0786 297.664C15.0786 292.782 18.6853 289.326 23.3249 289.326C27.9644 289.326 31.5712 292.782 31.5712 297.664C31.5712 302.546 27.9644 306.001 23.3249 306.001C18.6853 306.001 15.0786 302.546 15.0786 297.664ZM29.2991 297.664C29.2991 293.939 26.741 291.434 23.3249 291.434C19.9088 291.434 17.3507 293.939 17.3507 297.664C17.3507 301.389 19.9088 303.893 23.3249 303.893C26.741 303.893 29.2991 301.389 29.2991 297.664Z"
            fill="white"></path>
          <path
            d="M44.0281 297.141H50.7491V305.7H48.8266L48.7153 303.782C47.5872 305.018 45.6964 306.001 43.3926 306.001C39.0867 306.001 35.6547 302.752 35.6547 297.727C35.6547 292.702 38.9596 289.326 43.6944 289.326C46.4273 289.326 49.0331 290.531 50.4949 292.655L48.7789 293.891C47.5554 292.306 45.8871 291.387 43.8374 291.387C40.6438 291.387 37.9268 293.558 37.9268 297.616C37.9268 301.674 40.3896 303.956 43.6944 303.956C45.7759 303.956 47.7461 302.942 48.5247 301.42V298.963H44.044V297.141H44.0281Z"
            fill="white"></path>
          <path
            d="M56.8028 305.7V289.611H66.8287V291.593H59.0113V296.475H66.1613V298.44H59.0113V303.703H67.0511V305.684H56.7869L56.8028 305.7Z"
            fill="white"></path>
          <path
            d="M75.2339 305.7V291.608H70.1812V289.627H82.5428V291.608H77.4742V305.7H75.2339Z"
            fill="white"></path>
          <path
            d="M87.1506 305.7V289.611H89.375V296.364H97.7326V289.611H99.957V305.7H97.7326V298.424H89.375V305.7H87.1506Z"
            fill="white"></path>
          <path
            d="M106.281 305.7V289.611H116.307V291.593H108.489V296.475H115.639V298.44H108.489V303.703H116.529V305.684H106.265L106.281 305.7Z"
            fill="white"></path>
          <path
            d="M134.42 305.7H131.925L127.826 298.726H124.744V305.7H122.519V289.611H128.366C131.608 289.611 133.737 291.117 133.737 294.176C133.737 296.617 132.354 298.092 130.13 298.567L134.404 305.7H134.42ZM124.744 291.513V296.823H128.414C130.368 296.823 131.496 295.872 131.496 294.176C131.496 292.48 130.368 291.513 128.414 291.513H124.744Z"
            fill="white"></path>
          <path
            d="M138.488 304.496C138.488 303.703 139.139 303.021 139.965 303.021C140.791 303.021 141.459 303.703 141.459 304.496C141.459 305.336 140.776 305.986 139.965 305.986C139.155 305.986 138.488 305.336 138.488 304.496Z"
            fill="white"></path>
          <path
            d="M152.835 305.7V289.611H162.512V291.593H155.06V297.172H161.94V299.122H155.06V305.7H152.835Z"
            fill="white"></path>
          <path
            d="M166.547 297.664C166.547 292.782 170.154 289.326 174.794 289.326C179.433 289.326 183.04 292.782 183.04 297.664C183.04 302.546 179.433 306.001 174.794 306.001C170.154 306.001 166.547 302.546 166.547 297.664ZM180.768 297.664C180.768 293.939 178.21 291.434 174.794 291.434C171.378 291.434 168.819 293.939 168.819 297.664C168.819 301.389 171.378 303.893 174.794 303.893C178.21 303.893 180.768 301.389 180.768 297.664Z"
            fill="white"></path>
          <path
            d="M200.327 305.7H197.833L193.733 298.726H190.651V305.7H188.426V289.611H194.273C197.515 289.611 199.644 291.117 199.644 294.176C199.644 296.617 198.262 298.092 196.037 298.567L200.311 305.7H200.327ZM190.651 291.513V296.823H194.321C196.275 296.823 197.404 295.872 197.404 294.176C197.404 292.48 196.275 291.513 194.321 291.513H190.651Z"
            fill="white"></path>
          <path
            d="M224.605 289.611H226.941L221.491 305.7H219.569L215.517 293.336L211.402 305.7H209.479L204.156 289.611H206.508L210.496 302.038L214.611 289.611H216.534L220.522 302.038L224.621 289.611H224.605Z"
            fill="white"></path>
          <path
            d="M240.923 305.7L239.747 302.561H232.47L231.295 305.7H228.991L235.187 289.611H237.015L243.259 305.7H240.907H240.923ZM233.201 300.612H239.001L236.109 292.924L233.217 300.612H233.201Z"
            fill="white"></path>
          <path
            d="M260.482 305.7H257.988L253.889 298.726H250.806V305.7H248.582V289.611H254.429C257.67 289.611 259.799 291.117 259.799 294.176C259.799 296.617 258.417 298.092 256.192 298.567L260.467 305.7H260.482ZM250.806 291.513V296.823H254.476C256.431 296.823 257.559 295.872 257.559 294.176C257.559 292.48 256.431 291.513 254.476 291.513H250.806Z"
            fill="white"></path>
          <path
            d="M265.726 305.7V289.611H271.001C276.069 289.611 279.486 292.639 279.486 297.648C279.486 302.657 276.069 305.684 271.001 305.684H265.726V305.7ZM267.95 303.719H270.874C274.592 303.719 277.213 301.816 277.213 297.664C277.213 293.511 274.592 291.609 270.874 291.609H267.95V303.719Z"
            fill="white"></path>
          <path
            d="M283.029 304.496C283.029 303.703 283.68 303.021 284.506 303.021C285.333 303.021 286 303.703 286 304.496C286 305.336 285.317 305.986 284.506 305.986C283.696 305.986 283.029 305.336 283.029 304.496Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_244_52">
            <rect width="286" height="306" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div>
      <p>Este produto não é isento de risco e contém nicotina, uma substância que cria dependência. Destinado apenas a fumadores adultos.</p>
    </div>
  </article>
</footer>
<style></style>
