---
import Step from "./shared/Step.astro";
---

<section class="background-slate-original">
  <article>
    <ul>
      <li>
        <div>
          <Step isTextWhite isStepGreen={false} stepNumber="3">
            Verifique o SMS do Consumidor e clique em Pedidos de Troca
            Reservados
          </Step>
        </div>
        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isTextWhite isStepGreen={false} stepNumber="4">
            Se o consumidor não se dirigir ao ponto de troca, após 48h da
            criação do pedido, o pedido fica Expirado
          </Step>
        </div>
        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isTextWhite isStepGreen={false} stepNumber="5">
            Clique em Finalizar
          </Step>
        </div>
        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isTextWhite isStepGreen={false} stepNumber="6">
            Insira o código do equipamento, que vamos entregar ao consumidor, e
            clique em Aceitar
          </Step>
        </div>
        <img src="" alt="" />
      </li>
    </ul>
  </article>
</section>
