---
import Step from "./shared/Step.astro";
---

<section class="background-slate-original">
  <article>
    <ul>
      <li>
        <div>
          <Step isStepGreen stepNumber="3" />
          <p class="text-medium color-soft-white-original">
            Verifique o SMS do Consumidor e clique em Pedidos de Troca
            Reservados
          </p>
        </div>
        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isStepGreen stepNumber="4" />
          <p class="text-medium color-soft-white-original">
            Pesquise pelo nº do pedido e selecione Pedido de Troca
            correspondente
          </p>
        </div>
        <p class="text-medium color-soft-white-original">
          Se o consumidor não se dirigir ao ponto de troca, após 48h da criação
          do pedido, o pedido fica Expirado
        </p>

        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isStepGreen stepNumber="5" />
          <p class="text-medium color-soft-white-original">
            Clique em Finalizar​
          </p>
        </div>
        <img src="" alt="" />
      </li>
      <li>
        <div>
          <Step isStepGreen stepNumber="6" />
          <p class="text-medium color-soft-white-original">
            Insira o código do equipamento, que vamos entregar ao consumidor, e
            clique em Aceitar
          </p>
        </div>
        <img src="" alt="" />
      </li>
    </ul>
  </article>
</section>
