doctype html
html(lang='pt-pt')
  head

    - const pageTitle = 'PageTitle'
    block vars
    include header/head
  body
    header.sr-only
    main.wrapper#content
      block blocks
    footer.sr-only
    include footer/scripts