section.column-numbers 
  article.column-numbers__wrapper 
    .column-numbers__col.background-blue-original 
      .column-numbers__number 
        p.color-soft-white-original.font-family-bold.js-counter(data-purecounter-start='0' data-purecounter-end='18')
      .column-numbers__text
        p.color-soft-white-original.font-family-regular Estudos não clínicos
    
    .column-numbers__col.background-blue-dark 
      .column-numbers__number
        p.color-soft-white-original.font-family-bold.js-counter(data-purecounter-start='0' data-purecounter-end='10')
      .column-numbers__text
        p.color-soft-white-original.font-family-regular Estudos clínicos