section.grid-with-arrows 
  article.grid-with-arrows__article
    .grid-with-arrows__headline-wrapper(data-gsap="fade-in" data-gsap-delay="300")
      h2.headline.font-family-bold.color-slate-original A transformação não pode acontecer sem 
        span diálogo.
      p.text.font-family-regular.color-slate-original Embora o compromisso da PMI, com um futuro sem fumo seja inabalável e tenhamos evidências científicas robustas do nosso lado, não podemos fazer esta jornada sozinhos.

    .grid-with-arrows__container
      .grid-with-arrows__svg(data-gsap="fade-from-left" data-gsap-delay="500") 
        <svg class="first-arrow" xmlns="http://www.w3.org/2000/svg" width="176" height="71" viewBox="0 0 176 71" fill="none">
          <path d="M2 56H0V58H2V56ZM174.914 57.4142C175.695 56.6332 175.695 55.3668 174.914 54.5858L162.186 41.8579C161.405 41.0768 160.139 41.0768 159.358 41.8579C158.577 42.6389 158.577 43.9052 159.358 44.6863L170.672 56L159.358 67.3137C158.577 68.0948 158.577 69.3611 159.358 70.1421C160.139 70.9232 161.405 70.9232 162.186 70.1421L174.914 57.4142ZM0 0V56H4V0H0ZM2 58H173.5V54H2V58Z" fill="#34303D"/>
        </svg>
      
      .grid-with-arrows__content.background-amber-original(data-gsap="fade-from-right" data-gsap-delay="500") 
        .grid-with-arrows__text
          p.text.font-family-regular.color-slate-original Por muito tempo, o debate sobre o tabagismo foi polarizado. 
      
    .grid-with-arrows__container.grid-with-arrows__container--inverted
      .grid-with-arrows__svg(data-gsap="fade-from-right" data-gsap-delay="700") 
        <svg class="second-arrow" xmlns="http://www.w3.org/2000/svg" width="182" height="209" viewBox="0 0 182 209" fill="none">
          <path d="M124.5 94.5L124.5 92.5L122.5 92.5L122.5 94.5L124.5 94.5ZM124.5 194L124.5 196L126.5 196L126.5 194L124.5 194ZM0.586365 192.586C-0.194687 193.367 -0.194687 194.633 0.586365 195.414L13.3143 208.142C14.0954 208.923 15.3617 208.923 16.1427 208.142C16.9238 207.361 16.9238 206.095 16.1427 205.314L4.82901 194L16.1427 182.686C16.9238 181.905 16.9237 180.639 16.1427 179.858C15.3616 179.077 14.0953 179.077 13.3143 179.858L0.586365 192.586ZM180 94.4999L180 96.4999L182 96.4999L182 94.4999L180 94.4999ZM122.5 94.5L122.5 194L126.5 194L126.5 94.5L122.5 94.5ZM124.5 192L2.00058 192L2.00058 196L124.5 196L124.5 192ZM124.5 96.5L180 96.4999L180 92.4999L124.5 92.5L124.5 96.5ZM182 94.4999L182 0.49997L178 0.499969L178 94.4999L182 94.4999Z" fill="#34303D"/>
        </svg>
      .grid-with-arrows__content.background-amber-original(data-gsap="fade-from-left" data-gsap-delay="700") 
        .grid-with-arrows__text
          p.text.font-family-regular.color-slate-original Sem a disposição dos líderes mundiais, governos, reguladores e ONG’s, de olhar imparcialmente para as evidências científicas a favor de alternativas sem fumo, comparativamente com os cigarros combustíveis, a mudança não acontecerá rapidamente.
      
    
    .grid-with-arrows__container 
      .grid-with-arrows__svg(data-gsap="fade-from-left" data-gsap-delay="900") 
        <svg class="third-arrow" xmlns="http://www.w3.org/2000/svg" width="300" height="174" viewBox="0 0 300 174" fill="none">
          <path d="M72.6887 101.213L74.117 99.8132L72.702 98.3694L71.2735 99.7999L72.6887 101.213ZM102.189 131.311L100.76 132.711L102.165 134.145L103.594 132.735L102.189 131.311ZM181.226 53.2787L182.642 51.8655L181.236 50.4583L179.821 51.8555L181.226 53.2787ZM213.509 85.6066L212.094 87.0198L213.509 88.437L214.925 87.0198L213.509 85.6066ZM299 1.99861C298.999 0.894042 298.103 -0.000766277 296.999 4.76837e-07L278.999 0.0124949C277.894 0.0132616 276.999 0.909313 277 2.01388C277.001 3.11845 277.897 4.01326 279.001 4.01249L295.001 4.00139L295.013 20.0014C295.013 21.106 295.909 22.0008 297.014 22C298.118 21.9992 299.013 21.1032 299.013 19.9986L299 1.99861ZM3.41519 173.413L74.1039 102.626L71.2735 99.7999L0.584805 170.587L3.41519 173.413ZM71.2603 102.613L100.76 132.711L103.617 129.912L74.117 99.8132L71.2603 102.613ZM103.594 132.735L182.632 54.7019L179.821 51.8555L100.784 129.888L103.594 132.735ZM179.811 54.6919L212.094 87.0198L214.925 84.1933L182.642 51.8655L179.811 54.6919ZM214.925 87.0198L298.415 3.41323L295.585 0.586768L212.094 84.1933L214.925 87.0198Z" fill="#34303D"/>
        </svg>
      .grid-with-arrows__content.background-amber-original(data-gsap="fade-from-right" data-gsap-delay="900") 
        .grid-with-arrows__text
          p.text.font-family-regular.color-slate-original Nos Estados Unidos, Reino Unido, Nova Zelândia e Suécia, há um crescente reconhecimento de que as alternativas sem fumo podem complementar as políticas de saúde existentes, focadas na prevenção e cessação do tabagismo.