section.jumbotron-with-image 
  article.jumbotron-with-image-article
    .jumbotron-with-image__content.background-blue-original
      p.text.font-family-regular.color-soft-white-original.text-align-center Para que tal aconteça, o diálogo e o acesso à informação deve ser feito de forma clara para que em conjunto, possamos adotar
      .jumbotron-with-image__svg
        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="80" viewBox="0 0 4 80" fill="none">
          <path d="M2 0L2 80" stroke="#FFFDFB" stroke-width="4"/>
        </svg>
      h2.headline.font-family-bold.color-soft-white-original.text-align-center Um futuro livre de fumo.
    
    .jumbotron-with-image__picture
      picture 
        source(srcset="/assets/img/content/road.png", media="(min-width: 768px)")
        source(srcset="/assets/img/content/mobile-road.png", media="(min-width: 576px)")
        img(src="/assets/img/content/mobile-road.png" alt="")
    