//CSS vars
:root {
  --base-font: 62.5%;
  --black: #000;
  --white: #fff;
  --selection: #f60;
}

//breakpoint vars
$extra-small: 22.5em; //360px
$small: 36em; //576px
$medium: 48em; //768px
$large: 64em; //1024px
$extra-large: 75em; //1200px
$wide: 90em; //1440px
$extra-wide: 100em; //1600px

//breakpoints
$breakpoints: (
  //types
  'extra-small': $extra-small,
  'small': $small,
  'medium': $medium,
  'large': $large,
  'extra-large': $extra-large,
  'wide': $wide,
  'extra-wide': $extra-wide //finish types
);

// Caching current breakpoint
// Not meant to be manually edited
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

//z-index
$z-index: (
  //values
  'pothole': -1,
  'basement': 0,
  'sidewalk': 1,
  'bungalow': 40,
  'bungalow-chimney': 50,
  'house': 60,
  'tower': 70,
  'skyscrapper': 80,
  'sky': 90,
  'satellite': 100
);
