.sr-only {
  @include absolute;
  @include size(0.1rem);
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.d-none {
  display: none;
}

.background-blue-original {
  background-color: var(--blue-original);
}

.background-soft-white-original {
  background-color: var(--soft-white-original);
}

.background-soft-white-medium {
  background-color: var(--soft-white-medium);
}

.background-amber-original {
  background-color: var(--amber-original);
}

.background-blue-light {
  background-color: var(--blue-light);
}

.background-blue-original {
  background-color: var(--blue-original);
}

.background-blue-dark {
  background-color: var(--blue-dark);
}

.background-turquoise-original {
  background-color: var(--turquoise-original);
}




