if isJumbotronWithSmallHeadline
  section.jumbotron-text 
    div I'm jumbotron text

else if isJumbotronWithIcon
  section.jumbotron-text 
    div I'm jumbotron text
    
else if isJumbotronWithBlueBackground
  section.jumbotron-text 
    div I'm jumbotron text