.flex-column-brand {
  &-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30% 4% 2.8rem 4%;

    @include bp('medium') {
      padding: 28rem 0 6.8rem 0;
      max-width: 75rem;
      margin: 0 auto;
    }

    @include bp('large') {
      max-width: 99.6rem;
    }
  }

  &__image {
    margin-bottom: 3rem;

    @include bp('medium') {
      margin-bottom: 5.8rem;
    }

    &-item {
      object-fit: contain;
      height: 5.6rem;

      @include bp('medium') {
        height: 13.6rem;
      }
    }
  }

  &__headline {
    font-size: 1.9rem;
    line-height: 2.7rem;
    margin-bottom: 13rem;

    @include bp('medium') {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin-bottom: 17.6rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6rem;

    @include bp('medium') {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
}