.grid-with-arrows {
  width: 100%;

  &__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
  }

  &__headline-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20% 4%;
    max-width: 48rem;

    @include bp('medium') {
      padding: 26rem 0 20rem 10%;
      max-width: 80rem;
    }

    .headline {
      margin-bottom: 6rem;

      span {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: .2rem;
          height: .5rem;
          width: 100%;
          background-color: var(--amber-original);
          z-index: -1;

          @include bp('medium') {
            height: .8rem;
            bottom: .6rem;
          }
        }
      }
    }
  }

  &__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include bp('large') {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &--inverted {
      margin-left: unset;
      margin-right: auto;

      @include bp('large') {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    padding: 25% 10%;

    @include bp('medium') {
      padding: 15rem 10%;
    }
  }

  &__svg {
    display: flex;
    min-width: 31.5rem;
    margin: 5rem 0;

    @include bp('large') {
      min-width: 50%;
      justify-content: center;
      align-items: center;
    }

    .grid-with-arrows__container--inverted & {
      justify-content: flex-end;

      @include bp('large') {
        justify-content: center;
      }
    }

    .first-arrow {
      width: 15rem;

      @include bp('large') {
        width: 18rem;
      }
    }

    .second-arrow {
      width: 13rem;

      @include bp('large') {
        width: 18rem;
      }
    }

    .third-arrow {
      width: 20rem;

      @include bp('large') {
        width: 30rem;
      }
    }
  }
}