.grid-with-images {
  width: 100%;

  &__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding-bottom: 10rem;
  }

  &__headline {
    padding: 10% 5%;

    @include bp('large') {
      padding: 20% 10%;
      max-width: 70%;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include bp('large') {
      display: flex;
      flex-direction: row;
      gap: 10rem;
    }

    &--inverted {
      @include bp('large') {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    padding-left: 5%;

    @include bp('large') {
      padding-left: 15%;
    }
  }

  &__picture {
    min-width: 31.5rem;

    @include bp('large') {
      min-width: 60rem;
    }
  }
}