.grid-with-images {
  width: 100%;

  &__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    @include bp('large') {
      row-gap: 10rem;
    }
  }

  &__headline {
    padding: 20% 4%;
    max-width: 45rem;

    @include bp('medium') {
      padding: 26rem 0 15rem 10%;
      max-width: 80rem;
    }

    @include bp('large') {
      max-width: 90rem;
    }

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: .2rem;
        height: .5rem;
        width: 100%;
        background-color: var(--slate-original);

        @include bp('medium') {
          height: .8rem;
          bottom: .6rem;
        }
      }
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @include bp('large') {
      display: flex;
      flex-direction: row;
      gap: 10rem;
    }

    &--inverted {
      @include bp('large') {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;

    @include bp('large') {
      padding: 0 0 0 10%;
    }

    .grid-with-images__container--inverted & {
      @include bp('large') {
        padding: 0 10% 0 0;
      }
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    margin-bottom: 2.6rem;

    @include bp('large') {
      width: 6rem;
      height: 6rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__picture {
    display: flex;
    width: 90%;
    margin-left: auto;

    @include bp('large') {
      width: 40%;
      min-width: 45%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .grid-with-images__container--inverted & {
      margin-left: unset;
      margin-right: auto;
    }
  }
}