.jumbotron {

  &-text {
    width: 100%;
  }

  &-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 4%;

    &__icon {
      width: 9rem;
      height: 9rem;
      display: flex;
      margin-bottom: 2.8rem;

      @include bp('large') {
        width: 10rem;
        height: 10rem;
        margin-bottom: 3.8rem;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &--large {
      @include bp('medium') {
        padding: 15rem 10%;
      }

      @include bp('wide') {
        padding: 18rem 0;
        max-width: 115rem;
        margin: 0 auto;
      }
    }

    &--medium {
      @include bp('medium') {
        padding: 15rem 15%;
      }

      @include bp('wide') {
        padding: 18rem 0;
        max-width: 93rem;
        margin: 0 auto;
      }
    }

    &--small {
      @include bp('medium') {
        padding: 15rem 15%;
      }

      @include bp('wide') {
        padding: 18rem 0;
        max-width: 75rem;
        margin: 0 auto;
      }
    }
  }

  &-span-small {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.8rem;

    @include bp('medium') {
      font-size: 2rem;
      line-height: 2.8rem;
      margin-bottom: 2.8rem;
    }
  }
}