.sticky-animated {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__article {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 10% 4%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    @include bp('medium') {
      flex-direction: row;
      padding: 5% 10%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    overflow: hidden;

    @include bp('medium') {
      flex-direction: row;
    }
  }

  &__picture {
    @include bp('medium') {
      flex: 1 0 50%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    text-align: center;
    align-self: center;
    margin: auto;
    padding: 10%;

    @include bp('medium') {
      flex: 1 0 50%;
      padding: 5%;
    }

    @include bp('large') {
      padding: 0 10rem;
    }

    &-text {
      font-size: 2.7rem;
      line-height: 3.6rem;

      @include bp('wide') {
        font-size: 4.8rem;
        line-height: 6.6rem;
      }
    }
  }
}