section.grid-with-numbers.background-soft-white-medium
  article.grid-with-numbers__article
    h2.grid-with-numbers__headline.headline.font-family-bold.color-slate-original(data-gsap="fade-in") E porque o estamos a fazer? Porque é a atitude 
      span certa.
    .grid-with-numbers__container(data-gsap="fade-from-left" data-gsap-delay="500") 
      .grid-with-numbers__content.background-blue-original
        .grid-with-numbers__number
          p.color-soft-white-original.font-family-bold.js-counter(data-purecounter-start='0' data-purecounter-end='1' data-purecounter-duration="4")
          span.color-soft-white-original.font-family-bold bilião
        .grid-with-numbers__text
          p.color-soft-white-original.font-family-regular Aproximadamente 1 bilião de pessoas em todo o mundo fumam cigarros e, de acordo com a Organização Mundial da Saúde, este número será praticamente o mesmo em 2025.
      picture.grid-with-numbers__picture
        source(srcset="/assets/img/content/people-on-the-streets.png", media="(min-width: 1024px)")
        source(srcset="/assets/img/content/mobile-people-on-the-streets.png", media="(min-width: 576px)")
        img.grid-with-numbers__picture-img(src="/assets/img/content/mobile-people-on-the-streets.png" alt="")
    
    .grid-with-numbers__arrow-down(data-gsap="fade-in")
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="81" viewBox="0 0 16 81" fill="none">
        <path d="M7.29289 80.7071C7.68341 81.0976 8.31658 81.0976 8.7071 80.7071L15.0711 74.3431C15.4616 73.9526 15.4616 73.3195 15.0711 72.9289C14.6805 72.5384 14.0474 72.5384 13.6569 72.9289L8 78.5858L2.34314 72.9289C1.95262 72.5384 1.31945 72.5384 0.928929 72.9289C0.538405 73.3195 0.538405 73.9526 0.928929 74.3431L7.29289 80.7071ZM7 -4.37114e-08L7 80L9 80L9 4.37114e-08L7 -4.37114e-08Z" fill="#287BAF"/>
      </svg>
    .grid-with-numbers__paragraph(data-gsap="fade-in" data-gsap-delay="500") 
      p.text.font-family-regular.color-slate-original.text-align-center Queremos oferecer aos fumadores adultos, que pretendem continuar a fumar, alternativas menos nocivas para que o possam fazer.
    .grid-with-numbers__arrow-down(data-gsap="fade-in" data-gsap-delay="500")
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="81" viewBox="0 0 16 81" fill="none">
        <path d="M7.29289 80.7071C7.68341 81.0976 8.31658 81.0976 8.7071 80.7071L15.0711 74.3431C15.4616 73.9526 15.4616 73.3195 15.0711 72.9289C14.6805 72.5384 14.0474 72.5384 13.6569 72.9289L8 78.5858L2.34314 72.9289C1.95262 72.5384 1.31945 72.5384 0.928929 72.9289C0.538405 73.3195 0.538405 73.9526 0.928929 74.3431L7.29289 80.7071ZM7 -4.37114e-08L7 80L9 80L9 4.37114e-08L7 -4.37114e-08Z" fill="#287BAF"/>
      </svg>
    .grid-with-numbers__container.grid-with-numbers__container--inverted(data-gsap="fade-from-right" data-gsap-delay="500") 
      .grid-with-numbers__content.background-blue-original
        .grid-with-numbers__number
          .grid-with-numbers__number-animation
            p.color-soft-white-original.font-family-bold.js-counter(data-purecounter-start='0' data-purecounter-end='10')
            p.color-soft-white-original.font-family-bold ,
            p.color-soft-white-original.font-family-bold.js-counter-decimal(data-purecounter-start='0' data-purecounter-end='5')
          span.color-soft-white-original.font-family-bold biliões
        .grid-with-numbers__text
          p.color-soft-white-original.font-family-regular Investimos mais de 10,5 biliões de dólares em pesquisa, comprovação científica e comercialização dos nossos produtos sem fumo.
      picture.grid-with-numbers__picture 
        source(srcset="/assets/img/content/lab.png", media="(min-width: 1024px)")
        source(srcset="/assets/img/content/mobile-lab.png", media="(min-width: 576px)")
        img.grid-with-numbers__picture-img(src="/assets/img/content/mobile-lab.png" alt="")