---
interface Props {
  isHeadlineWhite: boolean;
  borderColor?:
    | "whiteBorder"
    | "turquoiseBorder"
    | "redBorder"
    | "slateOriginalBorder";
}

const { isHeadlineWhite = false, borderColor } = Astro.props;
---

<h2 class:list={[`headline ${borderColor}`, { textWhite: isHeadlineWhite }]}>
  <slot>Place your Headline here</slot>
</h2>

<style is:global>
  span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .headline > span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    height: 0.5rem;
    width: 100%;
    z-index: -1;
  }

  .textWhite {
    color: var(--soft-white-original);
  }

  .whiteBorder > span::after {
    background-color: var(--soft-white-original);
  }

  .turquoiseBorder > span::after {
    background-color: var(--turquoise-original);
  }

  .redBorder > span::after {
    background-color: var(--red-original);
  }

  .slateOriginalBorder > span::after {
    background-color: var(--slate-original);
  }

  @media screen and (min-width: 48em) {
    span::after {
      height: 0.8rem;
      bottom: 0.6rem;
    }
  }
</style>
