---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={className}>
  <article class="article">
    <slot>
      <p>This is my fallback content, if there is no child passed into slot</p>
    </slot>
  </article>
</section>

<style>
  .article {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
  }

  @media screen and (min-width: 90em) {
    .article {
      padding: 0 12rem;
    }
  }
</style>
