extends /views/skeleton/layout

block vars

  - const title = 'Philip Morris International'

block blocks
  include /views/components/Masthead/masthead
  
  -isJumbotronWithSmallHeadline = true
  include /views/components/JumbotronText/jumbotron-text

  include /views/components/GridWithNumbers/grid-with-numbers

  include /views/components/GridWithImages/grid-with-images

  -isJumbotronWithSmallHeadline = false
  -isJumbotronWithIcon = true
  include /views/components/JumbotronText/jumbotron-text
  
  include /views/components/GridWithArrows/grid-with-arrows

  include /views/components/ColumnNumbers/column-numbers

  -isJumbotronWithIcon = false 
  -isJumbotronWithBlueBackground = true
  include /views/components/JumbotronText/jumbotron-text

  include /views/components/StickyAnimated/sticky-animated

  include /views/components/JumbotronWithImage/jumbotron-with-image