//CSS vars
:root {
  --base-font: 62.5%;
  --iqos-light: 'IQOS Light';
  --iqos-regular: 'IQOS Regular';
  --iqos-bold: 'IQOS Bold';
  --black: #000;
  --slate-original: #34303D;
  --soft-white-original: #FFFDFB;
  --soft-white-medium: #F2F2F2;
  --white: #fff;
  --selection: #f60;
  --amber-original: #E3813B;
  --blue-light: #3D8CBD;
  --blue-original: #287BAF;
  --blue-dark: #1B5F8B;
  --turquoise-original: #00D1D2;
}

//breakpoint vars
$extra-small: 22.5em; //360px
$small: 36em; //576px
$medium: 48em; //768px
$large: 64em; //1024px
$extra-large: 75em; //1200px
$wide: 90em; //1440px
$extra-wide: 120em; //1920px


//breakpoints
$breakpoints: (
  //types
  'extra-small': $extra-small,
  'small': $small,
  'medium': $medium,
  'large': $large,
  'extra-large': $extra-large,
  'wide': $wide,
  'extra-wide': $extra-wide //finish types
);

// Caching current breakpoint
// Not meant to be manually edited
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

//z-index
$z-index: (
  //values
  'pothole': -1,
  'basement': 0,
  'sidewalk': 1,
  'bungalow': 40,
  'bungalow-chimney': 50,
  'house': 60,
  'tower': 70,
  'skyscrapper': 80,
  'sky': 90,
  'satellite': 100
);
