section.masthead 
  article.masthead-article-image
    .masthead-logo-image(data-gsap="fade-up")
      img.masthead-logo-image__item(src="assets/img/brand/logo.svg" alt="pmi-logo" loading="lazy")
  article.masthead-article-content.background-blue-original
    .masthead-article-content__wrapper(data-gsap="fade-up" data-gsap-delay="500")
      h1.masthead-article-content__headline.headline.font-family-bold.color-soft-white-original 
        | A PMI é 
        span muito mais
        |  do que uma empresa de tabaco.
      p.masthead-article-content__text.text.font-family-regular.color-soft-white-original Queremos oferecer alternativas menos nocivas aos fumadores adultos, que pretendem continuar a fumar.
