section.sticky-animated.background-soft-white-original
  article.sticky-animated__article
    .sticky-animated__picture
      picture 
        source(srcset="/assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="/assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img(src="/assets/img/content/mobile-drone-angle.png" alt="")
    .sticky-animated__content.background-turquoise-original
      p.color-slate-original Apesar da utilização das mesmas não ser livre de risco

  article.sticky-animated__article
    .sticky-animated__picture
      picture 
        source(srcset="/assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="/assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img(src="/assets/img/content/mobile-drone-angle.png" alt="")
    .sticky-animated__content.background-turquoise-original
      p.color-slate-original Mudar completamente para estas alternativas 

  article.sticky-animated__article
    .sticky-animated__picture
      picture 
        source(srcset="/assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="/assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img(src="/assets/img/content/mobile-drone-angle.png" alt="")
    .sticky-animated__content.background-turquoise-original
      p.color-slate-original É uma melhor opção do que continuar a fumar cigarros.
