section.sticky-animated.background-soft-white-original
  article.sticky-animated__article
    .sticky-animated__wrapper.background-turquoise-original
      picture.sticky-animated__picture
        source(srcset="assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img.sticky-animated__picture-img(src="assets/img/content/mobile-drone-angle.png" alt="drone angle of a road" loading="lazy")
      .sticky-animated__content.background-turquoise-original
        p.color-slate-original.sticky-animated__content-text.font-family-bold Apesar da utilização das mesmas não ser livre de risco

  article.sticky-animated__article
    .sticky-animated__wrapper.background-turquoise-original
      picture.sticky-animated__picture
        source(srcset="assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img.sticky-animated__picture-img(src="assets/img/content/mobile-drone-angle.png" alt="drone angle of a road" loading="lazy")
      .sticky-animated__content
        p.sticky-animated__content-text.color-slate-original.font-family-bold Mudar completamente para estas alternativas 

  article.sticky-animated__article
    .sticky-animated__wrapper.background-turquoise-original
      picture.sticky-animated__picture 
        source(srcset="assets/img/content/drone-angle.png", media="(min-width: 768px)")
        source(srcset="assets/img/content/mobile-drone-angle.png", media="(min-width: 576px)")
        img.sticky-animated__picture-img(src="assets/img/content/mobile-drone-angle.png" alt="drone angle of a road" loading="lazy")
      .sticky-animated__content.background-turquoise-original
        p.sticky-animated__content-text.color-slate-original.font-family-bold É uma melhor opção do que continuar a fumar cigarros.
