---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import "the-new-css-reset/css/reset.css";

---

<Layout title="IQOS - Together. Forward." description='Curso 13 Módulo 2'>
	<main>
		
	</main>
	<Footer />
</Layout>
