---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import "the-new-css-reset/css/reset.css";
import Masthead from '../components/Masthead.astro';
import RetailFirstStep from '../components/RetailFirstStep.astro';
import RetailSecondStep from '../components/RetailSecondStep.astro';
import ReceptionSteps from '../components/ReceptionSteps.astro';
import DeliveriesAndCollections from '../components/DeliveriesAndCollections.astro';
import DeliveryNewStock from '../components/DeliveryNewStock.astro';
import CollectionOfDamagedItems from '../components/CollectionOfDamagedItems.astro';

---

<Layout title="IQOS - Together. Forward." description='Curso 13 Módulo 2'>
	<header style={{display: "none"}} />
	<h1 style={{display: "none"}}>IQOS - Together. Forward. - Curso 13 Módulo 2</h1>
	<main>
		<Masthead />
		<RetailFirstStep />
		<RetailSecondStep />
		<CollectionOfDamagedItems />
		<DeliveryNewStock />
		<DeliveriesAndCollections />
		<ReceptionSteps />
	</main>
	<Footer />
</Layout>
