---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import "the-new-css-reset/css/reset.css";

---

<Layout title="IQOS - Together. Forward." description='Curso 13 Módulo 2'>
	<header style={{display: "none"}} />
	<h1 style={{display: "none"}}>IQOS - Together. Forward. - Curso 13 Módulo 2</h1>
	<main>
	</main>
	<Footer />
</Layout>
